.question-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: start;
  justify-content: center;
}

.question-text {
  max-width: 650px;
  text-align: center;
}

.answer-text {
  margin-top: 10px;
  max-width: 650px;
}
