<div class="question-container">
  <p-progressSpinner ariaLabel="loading" *ngIf="loading"></p-progressSpinner>
  <ng-container *ngIf="!loading">
    <p>{{questionAndAnswers.question.text}}</p>
    <div *ngFor="let answer of questionAndAnswers.answers" style="margin-top: 10px">
      <p-radioButton [inputId]="answer.id.toString()" name="answer" [value]="answer" [(ngModel)]="selectedAnswer"></p-radioButton>
      <label [for]="answer.id.toString()">{{answer.answer.answer}}</label>
    </div>
    <button style="margin-top: 10px" type="submit" pButton
            [label]="questionAndAnswers.question.check_required === 0 ? 'Next' : 'Finish'"
            (click)="nextQuestion()"
            [disabled]="selectedAnswer?.criteria_id === null"
    ></button>
    <p-dialog [(visible)]="dialogVisible" [style]="{width: '50vw'}">
      <ng-container *ngIf="questionAndAnswers.question.check_required !== 3">
        <p>{{nextForm?.additional_text}}</p>
        <p style="font-size: 16px;"><b>{{nextForm?.form_title}}</b></p>
        <p>{{nextForm?.form_description}}</p>
        <button style="margin-top: 10px" type="submit" pButton label="Continue" (click)="goToNextForm()"></button>
      </ng-container>
      <ng-container *ngIf="questionAndAnswers.question.check_required === 3">
        <p>{{finalMessage}}</p>
        <button style="margin-top: 10px" type="submit" pButton label="Home" (click)="goHome()"></button>
      </ng-container>
    </p-dialog>
  </ng-container>
</div>
